@model List<Fritter.Models.Treat>

@{
    ViewBag.Title = "All Treats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Treats</h2>

<div class="jumbotron">
    <h1>Bake a Treat</h1>

    @if(!Request.IsAuthenticated) {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Whoa now!</strong> You have to login to bake treats.
        </div>
    }
        <form action="/" method="post">
            <input type="text" name="text" id="text" />
            <input type="submit" />
            <!--<a href="""http://asp.net" class="btn btn-primary btn-lg">Bake</a></p> -->
        </form>

    </div>

    <div class="col-xs-8 col-sm-push-2">

        @foreach (var treat in Model)
    {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"> @treat.UserName </h3>
                    <p> @treat.Timestamp </p>
                </div>
                <div class="panel-body">
                    @treat.Text
                </div>
            </div>
    }

    </div>




